:root{
  --textColor: #ddd;
  --backColor: #000C16;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes popIn {
  0% { opacity: 0; }
  95% { opacity: 0; }
  100%   { opacity: 1; }
}

body{
  background: var(--backColor);
  color: var(--textColor);
  overflow-x: hidden;
  font-family: monospace;
  font-weight: 900;
  font-size: calc(7px + .5vw);
}

header{
  position: relative;
  height: 50px;
  padding:22px 10px;  
  width: 100%;
  animation: popIn 1.2s;
}

ul li{
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

a,
a:active{
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

.info{
  position: absolute;
  left: 20px;
}

.user{
  position: absolute;
  text-align: right;
  max-width: 150px;
  right: 20px;
}

#doxstopLogo svg{
  z-index: 2;
}

#historyList{
  padding: 5px;
  margin-top: 10px;
  text-align: left;
  visibility: hidden;
  color: var(--backColor);
  border: thin solid var(--textColor);
  background: var(--textColor);
  z-index: 10;
  overflow-x: auto;
}
#historyList li{
  display: block;
  cursor: pointer;
}

#historyList li:hover{
  text-decoration: underline;
}

.title-container{
  height: 20vh;
  margin: 0 5px;
  margin-top: 20px;
  animation: fadein 1s;
}

.title-container svg{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 10vh;
  width: 45vw;
  max-width: 500px;
  min-width: 300px;
  fill: var(--textColor);
}

.buttons-container{
  width: 100%;
  height: 5vh;
  margin: 5vh 0;
}

.buttons{
  position: absolute;
  height: 5vh;
  width: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.buttons button:first-of-type{
  position: absolute;
  left: 0;
}

.buttons button:last-of-type{
  position: absolute;
  right: 0;
}

button{
  background: transparent;
  color: var(--textColor);
  width: 110px;
  height: 2.2rem;
  border: thin solid var(--textColor);
  border-radius: 1px;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
  animation: popIn 1.2s;
  /* font-weight: bold; */
}

button:focus{
  outline: none;
}

.art-container{
  height: 40vh;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-height: 40vh;
  text-align: center;
}

#asciiArt{
  position: absolute;
  width: 100vw;
  min-width: 310px;
  font-size: calc(4px + .5vw);
  text-align: center;
  left: 0;
  right: 0;
  margin: auto auto;
}

#artDisplay{
  visibility: hidden;
}

.input-container{
  height: 5vh;
}

input{
  position: absolute;
  background: rgba(255,255,255, .85);
  color: rgba(1, 22, 39, .8);
  border: .5px solid rgba(1, 22, 39, .2);
  box-shadow: 0 2px 2px 0 rgba(1,22,39,0.16), 0 0 0 1px rgba(1,22,39,0.08);
  width: 45vw;
  height: 2.2rem;
  border-radius: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 310px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: normal;
  font-family: monospace;
  visibility: hidden;
}

input:focus{
  outline: none;
}

#fakeInput{
  position: absolute;
  background: rgba(255,255,255, .85);
  color: rgba(1, 22, 39, .8);
  border: .5px solid rgba(1, 22, 39, .2);
  box-shadow: 0 2px 2px 0 rgba(1,22,39,0.16), 0 0 0 1px rgba(1,22,39,0.08);
  width: 45vw;
  height: 2.2rem;
  border-radius: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 310px;
  padding: 5px 9.5px;
  font-size: 20px;
  animation: 1s blink step-end infinite, popIn 1.5s;
  cursor: text;
}

@keyframes blink {
  0% {
    color: transparent;
  }
  50% {
    color: var(--backColor);
  }
  100%{
      color: transparent;
  }
}

.modal-fill{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 12, 22, .8);
  top: 0;
  left: 0;
  animation: fadein .1s;
}

.modal-container{
  position: relative;
  z-index: 4;
  width: calc(80vw - 50px);
  min-width: 310px;
  height: auto;
  background: #ddd;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 25vh;
  bottom: 0;
  margin: auto auto;
  color: var(--backColor);
}

.modal-container pre,
.modal-container h1,
.modal-container p{
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.modal-container hr{
  background: var(--backColor);
  margin:10px;
}
.modal-container p:first-of-type{
  padding: 5px 10px;
}
.modal-container p:last-of-type{
  display: block;
  height: auto;
  padding: 0 10px;
  padding-bottom: 5px;
  font-weight: bold;
  color: red;
}

.modal-container pre svg{
  padding-top: 10px;
  width: 45vw;
  max-width: 500px;
  min-width: 300px;
  fill: var(--backColor);
}

.resultItem{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  animation: fadein .1s;
}

.resultItem-Container{
  display: flex;
  border: thin solid snow;
  padding: 10px;
}

.resultItem-svg svg{
  fill: var(--textColor);
  border: thin solid snow;
  width: 27vw;
  height: 27vw;
}

.resultItem-fieldContainer{
  display: block;
  margin-left: 10px;
  height: auto;
}

.resultItem-field{
  display: block;
  max-width: 340px;
  font-size: calc(6px + .5vw);
  padding: 1px 0;
  text-align: left;
}

@media screen and (max-width: 550px){
  .resultItem-field{
    width: 180px;
  }
  #historyList{
    max-height: 30px;
  }
}

@media screen and (min-width: 420px){
  .resultItem-field{
    width: 290px;
  }
}